PORT=3000
NODE_ENV=development
DATABASE_URL=postgresql://postgres:[SUA-SENHA]@[HOST]:5432/postgres
JWT_SECRET=sua-chave-super-secreta
JWT_EXPIRES_IN=7d

##postgresql://postgres:Th1ry2de3&Ju39@db.zszkhuliofyndnbofywk.supabase.co:5432/postgres
